src/n8n_integrate-now_com_workflows.json
{"data":[{"createdAt":"2025-01-27T14:15:55.669Z","updatedAt":"2025-03-05T16:23:06.000Z","id":"8YXjBU5IYCaoqFdt","name":"DEMO Jira update Ticket Comment","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"jira-update","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-200,0],"id":"0e8689ad-ffae-4855-b972-17b54d35ca06","name":"Webhook","webhookId":"2f686766-a7e2-4fa3-9ca0-1e80678217ff","credentials":{"httpHeaderAuth":{"id":"Del53ELCoeSE3k5j","name":"Scanner Auth"}},"notes":"route: /jira/comment"},{"parameters":{"jiraVersion":"server","resource":"issueComment","issueKey":"={{ $json.body.ticketId }}","comment":"={{ $json.body.fields.comment }}","options":{}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[100,0],"id":"5cf8f01b-6388-4bcc-870d-41bf243b1e4d","name":"Jira Software","credentials":{"jiraSoftwareServerApi":{"id":"GINtWKaUiuM9QWe9","name":"Jira SW Server account"}}}],"connections":{"Webhook":{"main":[[{"node":"Jira Software","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b0bf7c23-4ac0-4882-ba5f-3a2b686d2a44","triggerCount":1,"tags":[]},{"createdAt":"2025-02-21T12:16:42.457Z","updatedAt":"2025-02-25T09:40:31.000Z","id":"BDBoZwdIH1i3nQrw","name":"Jira Chatbot","active":false,"nodes":[{"parameters":{"model":"qwen2.5:14b-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-40,180],"id":"32c4a581-f435-4523-9d3a-33ca03900b8b","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"aT9sccB0DSYfLAVC","name":"Ollama account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[140,180],"id":"da370051-1e01-4d52-9820-d385ccd9fa0e","name":"Window Buffer Memory"},{"parameters":{"jiraVersion":"server","operation":"getAll","options":{}},"type":"n8n-nodes-base.jiraTool","typeVersion":1,"position":[320,180],"id":"bc442f53-dc44-4ad6-a91f-ac94d61203fa","name":"Jira Software","credentials":{"jiraSoftwareServerApi":{"id":"GINtWKaUiuM9QWe9","name":"Jira SW Server account"}}},{"parameters":{"operation":"sendAndWait","chatId":"1","message":"f","options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[420,-40],"id":"63e20828-6d4d-4491-a8e0-2900489baf29","name":"Telegram","webhookId":"6c7a7569-97d8-4500-ae35-5065a1ededeb","credentials":{"telegramApi":{"id":"Snb7tXSoxzXYASCN","name":"Telegram account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[60,-40],"id":"de0739a3-51d0-4b2c-86f1-8bdebed9d181","name":"AI Agent"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-540,-20],"id":"83d77034-3f3b-409b-a4c2-d11df49049f2","name":"Telegram Trigger","webhookId":"62ac2009-b548-4efb-8cb5-d4de83d94e3c","credentials":{"telegramApi":{"id":"Snb7tXSoxzXYASCN","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"20daf5c4-65af-410b-a07c-d4d5db217b8b","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,-20],"id":"ee1500ff-4717-45d5-ab15-81ec3c560c69","name":"If"}],"connections":{"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Jira Software":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8983ad3a-7a2d-4bbf-8e23-1778e063577a","triggerCount":0,"tags":[]},{"createdAt":"2025-01-28T19:06:00.109Z","updatedAt":"2025-01-28T19:08:35.000Z","id":"CIoSj88zt5WocaGx","name":"Slack Generic Incoming","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"45d6ffda-aa06-47e9-ad62-6ce386036da1","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"12d661dc-680c-4286-820f-ad677e20a6a3","name":"Webhook","webhookId":"45d6ffda-aa06-47e9-ad62-6ce386036da1"}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f5b7c218-7135-4b37-b620-1f215ef77d57","triggerCount":1,"tags":[]},{"createdAt":"2025-01-27T16:39:35.809Z","updatedAt":"2025-02-17T13:54:45.000Z","id":"EJwbEIzi03YHWpQ3","name":"DEMO (Jira-Servity) Servity Incident Create","active":true,"nodes":[{"parameters":{"channels":"jira/incoming","options":{}},"type":"n8n-nodes-base.redisTrigger","typeVersion":1,"position":[-320,0],"id":"98199afb-da20-4437-92cd-19b63fc3ff02","name":"Redis Trigger","credentials":{"redis":{"id":"o6fxxCjODPXEnat3","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"59ad2fd0-e865-4157-aa60-e1df4a5e9fe3","name":"body","value":"={{ $json.message }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,0],"id":"eeeeeef5-a22e-4aa5-9412-01f3653eb122","name":"String to Json"},{"parameters":{"assignments":{"assignments":[{"id":"f42b7914-a909-41a9-94d8-d526f1d61210","name":"Body","value":"={\n     \"reportingUser\": \"N8nRestAPI\",\n     \"affectedUser\": \"hannes.lehmann@sistemica.de\",\n    \"summary\": \"{{ $json.body.issue.fields.summary || 'Default Summary' }}\",\n    \"description\": \"{{ $json.body.issue.fields.issuetype.description || 'No description provided' }}\",\n     \"incidentType\": \"Incident\",\n     \"urgency\": \"Hoch\",\n     \"affectUser\": \"Alle\",\n     \"externalSystem\" : \"JIRA\",\n     \"externalSystemID\" : \"{{ $json.body.issue.key }}\",\n     \"assignmentGroup\": \"Service Desk\"\n }","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[180,0],"id":"17d5ea7a-3d17-4059-82a6-005f11a6057d","name":"Prepare body"},{"parameters":{"jiraVersion":"server","operation":"update","issueKey":"={{ $('String to Json').item.json.body.issue.key }}","updateFields":{"customFieldsUi":{"customFieldsValues":[{"fieldId":{"__rl":true,"value":"customfield_10118","mode":"id"},"fieldValue":"Servity"},{"fieldId":{"__rl":true,"value":"customfield_10119","mode":"id"},"fieldValue":"={{ $json.Incident_Number }}"}]}}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[640,0],"id":"63b7a9bc-1ea9-4d33-9b6e-9ff73d35401c","name":"Jira Software","credentials":{"jiraSoftwareServerApi":{"id":"GINtWKaUiuM9QWe9","name":"Jira SW Server account"}}},{"parameters":{"method":"POST","url":"https://dev.servity-sanssouci-itsm.de/servity/pub/api/SITSM/CreateIncident","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Authorization","value":"PNM7AAAAAAA70zsAAAAAAOeoPEPSnTMpJX8LJN9fTK+RQGRDq7N5nr00bmktFG58w6OK7P3lwHu39tpYHi5S10potBjCIm4Q6NtAEwT3iRU="}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.Body.toJsonString() }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,0],"id":"6e7f555b-c7a4-4da9-99fd-8c36d9ac6d39","name":"Servity Aufruf","credentials":{"httpHeaderAuth":{"id":"JdcK0YumSqifGJu5","name":"Servity Dev"},"httpBasicAuth":{"id":"Pp9wA60R8GhlzL9k","name":"Servity Apache htaccess"}}}],"connections":{"Redis Trigger":{"main":[[{"node":"String to Json","type":"main","index":0}]]},"String to Json":{"main":[[{"node":"Prepare body","type":"main","index":0}]]},"Prepare body":{"main":[[{"node":"Servity Aufruf","type":"main","index":0}]]},"Servity Aufruf":{"main":[[{"node":"Jira Software","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"87c5da88-d75b-411c-9e99-4a517497d4a8","triggerCount":1,"tags":[]},{"createdAt":"2025-02-06T10:33:00.255Z","updatedAt":"2025-02-07T09:44:16.000Z","id":"FelKnFnqbFLe10GM","name":"Manage n8n get Webhooks","active":true,"nodes":[{"parameters":{"path":"webhooks","authentication":"headerAuth","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-460,-160],"id":"4519d6cf-af5b-4ee5-a0e6-be7582639337","name":"Webhook","webhookId":"dd0d1f63-577f-4ca8-af00-734db43dd86d","credentials":{"httpHeaderAuth":{"id":"Del53ELCoeSE3k5j","name":"Scanner Auth"}}},{"parameters":{"jsCode":"// Function to extract webhook information\nfunction extractWebhookInfo(workflows) {\n    return workflows\n        .filter(workflow => {\n            const hasNodes = workflow.nodes && Array.isArray(workflow.nodes);\n            console.log(`Workflow ${workflow.name}: has nodes = ${hasNodes}, active = ${workflow.active}`);\n            return hasNodes;\n        })\n        .map(workflow => {\n            // Find webhook nodes\n            const webhookNodes = workflow.nodes.filter(node => \n                node.type === 'n8n-nodes-base.webhook'\n            );\n            console.log(`Workflow ${workflow.name}: webhook nodes = ${webhookNodes.length}`);\n\n            if (webhookNodes.length === 0) return null;\n\n            // Map webhook data\n            return webhookNodes.map(node => ({\n                workflow_name: workflow.name,\n                workflow_id: workflow.id,\n                workflow_active: workflow.active,\n                webhook_id: node.webhookId,\n                node_name: node.name,\n                node_id: node.id,\n                method: node.parameters.httpMethod || 'GET',\n                path: node.parameters.path || '',\n                authentication: node.parameters.authentication || 'none',\n                credentials: node.credentials ? {\n                    type: Object.keys(node.credentials)[0],\n                    id: node.credentials[Object.keys(node.credentials)[0]]?.id,\n                    name: node.credentials[Object.keys(node.credentials)[0]]?.name\n                } : null,\n                options: node.parameters.options || {}\n            }));\n        })\n        .filter(Boolean)\n        .flat();\n}\n\n// Get input workflows directly\nconst inputWorkflows = $input.all();\nconsole.log('Number of input workflows:', inputWorkflows.length);\n\n// Process the workflows - they're already in json format\nconst webhooks = extractWebhookInfo(inputWorkflows.map(item => item.json));\nconsole.log('Number of webhooks found:', webhooks.length);\n\n// Calculate statistics\nconst activeWebhooks = webhooks.filter(wh => wh.workflow_active).length;\nconst inactiveWebhooks = webhooks.filter(wh => !wh.workflow_active).length;\n\n// Return results with status information\nreturn [{\n    json: {\n        total_webhooks: webhooks.length,\n        active_webhooks: activeWebhooks,\n        inactive_webhooks: inactiveWebhooks,\n        webhooks: webhooks\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[280,0],"id":"f999a5fd-4e26-48e9-83e2-9686fb962761","name":"Filter and build response"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[60,0],"id":"b3e11f51-c4a1-46a2-b148-64433c2bea74","name":"Split workflows","notes":"This could possibly also be split, but maybe handy if there a huge amount of workflows"},{"parameters":{"url":"https://n8n.integrate-now.com/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,0],"id":"aeb08101-7a14-4012-823c-05cfe79b5a66","name":"Call n8n management api","credentials":{"httpHeaderAuth":{"id":"fvfMLRa41GQUKoTU","name":"n8n Management API"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-460,0],"id":"a9fcecb4-b9d8-4f99-a6e2-f1b259e15094","name":"When clicking ‘Test workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-220,-200],"id":"462bba42-7904-4e35-afb2-6b9c109e2275","name":"n8n","credentials":{"n8nApi":{"id":"vhdO3TXsaomGctMk","name":"n8n account"}}}],"connections":{"Webhook":{"main":[[{"node":"Call n8n management api","type":"main","index":0}]]},"Split workflows":{"main":[[{"node":"Filter and build response","type":"main","index":0}]]},"Call n8n management api":{"main":[[{"node":"Split workflows","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Call n8n management api","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"43d438e3-8889-4f34-bc69-99ca6727c3d7","triggerCount":1,"tags":[]},{"createdAt":"2025-02-06T13:16:02.882Z","updatedAt":"2025-02-07T09:12:37.000Z","id":"LJxzf4YErMBxjcyv","name":"Test Proposal Generator","active":false,"nodes":[{"parameters":{"operation":"replaceText","presentationId":"={{ $json.id }}","textUi":{"textValues":[{"replaceText":"={{ $('Proposal Agent').item.json.message.content.proposalTitle }}","text":"{{proposalTitle}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.descriptionName }}","text":"{{descriptionName}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.oneParagraphProblemSummary }}","text":"{{oneParagraphProblemSummary}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.solutionHeadingOne }}","text":"{{solutionHeadingOne}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.solutionHeadingTwo }}","text":"{{solutionHeadingTwo}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.solutionHeadingThree }}","text":"{{solutionHeadingThree}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.solutionDescriptionOne }}","text":"{{solutionDescriptionOne}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.solutionDescriptionTwo }}","text":"{{solutionDescriptionTwo}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.solutionDescriptionThree }}","text":"{{solutionDescriptionThree}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.shortScopeTitleOne }}","text":"{{shortScopeTitleOne}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.shortScopeTitleTwo }}","text":"{{shortScopeTitleTwo}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.shortScopeTitleThree }}","text":"{{shortScopeTitleThree}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.shortScopeDescriptionOne }}","text":"{{shortScopeDescriptionOne}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.shortScopeDescriptionTwo }}","text":"{{shortScopeDescriptionTwo}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.shortScopeDescriptionThree }}","text":"{{shortScopeDescriptionThree}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.milestoneOneDay }}","text":"{{milestoneOneDay}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.milestoneTwoDay }}","text":"{{milestoneTwoDay}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.milestoneThreeDay }}","text":"{{milestoneThreeDay}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.milestoneFourDay }}","text":"{{milestoneFourDay}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.milestoneDescriptionOne }}","text":"{{milestoneDescriptionOne}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.milestoneDescriptionTwo }}","text":"{{milestoneDescriptionTwo}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.milestoneDescriptionThree }}","text":"{{milestoneDescriptionThree}}"},{"replaceText":"={{ $('Proposal Agent').item.json.message.content.milestoneDescriptionFour }}","text":"{{milestoneDescriptionFour}}"},{"replaceText":"$1,850","text":"{{cost}}"}]},"options":{}},"type":"n8n-nodes-base.googleSlides","typeVersion":2,"position":[1420,-300],"id":"c471db1b-a7cb-421c-9cc8-80a04bb41a41","name":"Replace Text","credentials":{"googleSlidesOAuth2Api":{"id":"9jzGsgOiRV3NujSM","name":"Google Slides account"}}},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"19nRmzuK55EfnwYKX0mwXuA8ixdmAV33-d_Ync7YpaHI","mode":"id"},"name":"={{ $json.message.content.proposalTitle }}","options":{"copyRequiresWriterPermission":false}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1220,-300],"id":"ba2fc25b-63a5-4e58-8c83-0ed3dc91803b","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"tq3fmZVpAzzHfDmV","name":"Google Drive account"}}},{"parameters":{"content":"## AI Proposal Generator\n**This flow generates proposals using the free Google Slides solution**.","height":280,"width":1640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,-400],"id":"315cd339-299c-4fdd-852b-dac4028307c4","name":"Sticky Note"},{"parameters":{"formTitle":"Sales Call Logging Form","formDescription":"This form logs a sales call & automatically generates a proposal.","formFields":{"values":[{"fieldLabel":"First Name","requiredField":true},{"fieldLabel":"Last Name","requiredField":true},{"fieldLabel":"Company Name","requiredField":true},{"fieldLabel":"Email","fieldType":"email"},{"fieldLabel":"Website","requiredField":true},{"fieldLabel":"Problem","fieldType":"textarea","requiredField":true},{"fieldLabel":"Solution","fieldType":"textarea","requiredField":true},{"fieldLabel":"Scope","fieldType":"textarea","requiredField":true},{"fieldLabel":"Cost","requiredField":true},{"fieldLabel":"How soon?","requiredField":true}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[140,-300],"id":"9e038866-64f2-4d4a-b680-6b6144a65d1d","name":"On form submission1","webhookId":"f0e8d4a0-8002-4804-aa90-4566fef26283"},{"parameters":{"method":"POST","url":"https://api.pandadoc.com/public/v1/documents/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"API-Key {yourApiKeyGoesHere}"},{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"name\": \"{{ $json.message.content.proposalTitle }}\",\n    \"fields\": {\n        \"Initials\": {\n            \"value\": \"EI\"\n        }\n    },\n    \"tokens\": [\n        {\n            \"name\": \"Client.Email\",\n            \"value\": \"{{ $('On form submission1').item.json.Email }}\"\n        },\n        {\n            \"name\": \"Sender.Email\",\n            \"value\": \"nick@leftclick.ai\"\n        },\n        {\n            \"name\": \"Client.Scope1\",\n            \"value\": \"{{ $json.message.content.scopeOne }}\"\n        },\n        {\n            \"name\": \"Client.Scope2\",\n            \"value\": \"{{ $json.message.content.scopeTwo }}\"\n        },\n        {\n            \"name\": \"Client.Scope3\",\n            \"value\": \"{{ $json.message.content.scopeThree }}\"\n        },\n        {\n            \"name\": \"Client.Scope4\",\n            \"value\": \"{{ $json.message.content.scopeFour }}\"\n        },\n        {\n            \"name\": \"Client.Scope5\",\n            \"value\": \"{{ $json.message.content.scopeFive }}\"\n        },\n        {\n            \"name\": \"Client.Company\",\n            \"value\": \"{{ $('On form submission1').item.json['Company Name'] }}\"\n        },\n        {\n            \"name\": \"Sender.Company\",\n            \"value\": \"WorkflowLoop\"\n        },\n        {\n            \"name\": \"Client.LastName\",\n            \"value\": \"{{ $('On form submission1').item.json['Last Name'] }}\"\n        },\n        {\n            \"name\": \"Sender.LastName\",\n            \"value\": \"Saraev\"\n        },\n        {\n            \"name\": \"Client.FirstName\",\n            \"value\": \"{{ $('On form submission1').item.json['First Name'] }}\"\n        },\n        {\n            \"name\": \"Client.Timeline1\",\n            \"value\": \"{{ $json.message.content.timelineOne }}\"\n        },\n        {\n            \"name\": \"Client.Timeline2\",\n            \"value\": \"{{ $json.message.content.timelineTwo }}\"\n        },\n        {\n            \"name\": \"Client.Timeline3\",\n            \"value\": \"{{ $json.message.content.timelineThree }}\"\n        },\n        {\n            \"name\": \"Client.Timeline4\",\n            \"value\": \"{{ $json.message.content.timelineFour }}\"\n        },\n        {\n            \"name\": \"Sender.FirstName\",\n            \"value\": \"Nick\"\n        },\n        {\n            \"name\": \"Client.ProblemText\",\n            \"value\": \"{{ $json.message.content.oneParagraphProblemSummary }}\"\n        },\n        {\n            \"name\": \"Client.ProblemTitle\",\n            \"value\": \"{{ $json.message.content.problemTitle }}\"\n        },\n        {\n            \"name\": \"Client.SolutionText\",\n            \"value\": {{ JSON.stringify($json.message.content.solutionText) }}\n        },\n        {\n            \"name\": \"Client.ProposalTitle\",\n            \"value\": \"{{ $json.message.content.proposalTitle }}\"\n        },\n        {\n            \"name\": \"Client.SolutionTitle\",\n            \"value\": \"{{ $json.message.content.solutionTitle }}\"\n        }\n    ],\n    \"metadata\": {},\n    \"recipients\": [\n        {\n            \"email\": \"{{ $('On form submission1').item.json.Email }}\",\n            \"role\": \"Client\"\n        },\n        {\n            \"email\": \"nick@leftclick.ai\",\n            \"company\": \"WorkflowLoop\",\n            \"last_name\": \"Saraev\",\n            \"first_name\": \"Nick\",\n            \"role\": \"Sender\"\n        }\n    ],\n    \"template_uuid\": \"yxge9HxfgWhvqKjFXwWEpS\",\n    \"pricing_tables\": [\n        {\n            \"name\": \"Pricing Table 1\",\n            \"options\": {\n                \"currency\": \"USD\"\n            },\n            \"sections\": [\n                {\n                    \"rows\": [\n                        {\n                            \"data\": {\n                                \"qty\": 1,\n                                \"name\": \"{{ $json.message.content.proposalTitle }}\",\n                                \"price\": {{ $('On form submission1').item.json.Cost.replace(\"$\",\"\").replace(\",\",\"\").toNumber() }}\n                            },\n                            \"options\": {\n                                \"optional\": false,\n                                \"qty_editable\": false,\n                                \"optional_selected\": false\n                            }\n                        }\n                    ],\n                    \"title\": \"Pricing Section\",\n                    \"default\": true\n                }\n            ]\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,160],"id":"344e587d-24b3-405b-9f02-045e69e09d05","name":"HTTP Request"},{"parameters":{"sendTo":"={{ $('On form submission1').item.json.Email }}","subject":"Proposal","message":"Hi","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1600,-300],"id":"be5bbbf5-a170-42b7-856e-838a6a55a559","name":"Gmail","webhookId":"3a1866ef-38ca-4373-b30b-4c5cb3082b31","credentials":{"gmailOAuth2":{"id":"oS5qvaEd4ZtB8RNl","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You are a helpful, intelligent writing assistant.","role":"system"},{"content":"Your task is to generate a proposal using input data from a form. This proposal should be highly customized, specific, and high-quality, considering we're going to be sending it immediately after you're done.\n\nContext: we are an automation/no-code agency that develops systems revolving around growth, revenue ops, etc.\n\nThe proposal template we're using has many fields. You must return these fields in one JSON object.\n\nUse this format:\n\n{\n  \"proposalTitle\": \"\",\n  \"descriptionName\": \"\",\n  \"oneParagraphProblemSummary\": \"\",\n  \"solutionHeadingOne\": \"\",\n  \"solutionDescriptionOne\": \"\",\n  \"solutionHeadingTwo\": \"\",\n  \"solutionDescriptionTwo\": \"\",\n  \"solutionHeadingThree\": \"\",\n  \"solutionDescriptionThree\":\"\",\n  \"shortScopeTitleOne\": \"\",\n  \"shortScopeTitleTwo\": \"\",\n  \"shortScopeTitleThree\": \"\",\n  \"shortScopeDescriptionOne\": \"\",\n  \"shortScopeDescriptionTwo\": \"\",\n  \"shortScopeDescriptionThree\": \"\",\n  \"milestoneOneDay\": \"\",\n  \"milestoneTwoDay\": \"\",\n  \"milestoneThreeDay\": \"\",\n  \"milestoneFourDay\": \"\",\n  \"milestoneDescriptionOne\": \"\",\n  \"milestoneDescriptionTwo\": \"\",\n  \"milestoneDescriptionThree\": \"\",\n  \"milestoneDescriptionFour\": \"\"\n}\n\nRules:\n1. Use a spartan, casual tone of voice.\n2. Be to-the-point but professional—assume you're writing to a sophisticated audience.\n3. Ensure that all fields are filled out. Do not miss a field or leave any variables empty.\n4. Keep things short. If a field contains the term \"Description\" it should be no more than fourteen words. For \"descriptionName\" do not use title case."},{"content":"{\n  \"companyName\":\"1SecondCopy\",\n  \"problem\": \"they can't generate leads. everything is referral based rn.\",\n  \"solution\": \"cold email lead gen system, client reactivation system, and best in class sales training for closing\",\n  \"scope\": \"1k/day cold email infra, 30k email leads, 4 weekly zoom sessions for sales training\",\n  \"currentDate\":\"Feb 4 2025\",\n  \"howSoon\": \"two months\",\n  \"depositCost\": \"$1,845\",\n}"},{"content":"{\n  \"proposalTitle\": \"Lead Gen System for 1SecondCopy\n\",\n  \"descriptionName\": \"A simple, scalable lead generation system built to help grow your content efforts & connect you with the right people.\n\",\n  \"oneParagraphProblemSummary\": \"Right now, 1SecondCopy is struggling with an inability to generate qualified leads. The majority of your new clients are referral-based, which, while always nice to have, is not scalable nor is it reliable. Building an alternative strategy—one that allows you to take leads from cold -> close—is vital to the health and longevity of the company, and it’s what we’re going to help you with.\n\",\n  \"solutionHeadingOne\": \"Cold Outbound Lead Gen\",\n  \"solutionDescriptionOne\": \"We’ll put in place a robust cold-email-based system for you using best practices.\",\n  \"solutionHeadingTwo\": \"Client Reactivation System\",\n  \"solutionDescriptionTwo\": \"We’ll build a simple, but high-ROI reactivation system to let you extract value from pre-existing clients.\",\n  \"solutionHeadingThree\": \"Best-In-Class Sales Training\",\n  \"solutionDescriptionThree\": \"We’ll train your team with world-class setting & closing mechanisms.\",\n  \"shortScopeTitleOne\": Cold email infrastructure that sends ~1K emails/day\",\n  \"shortScopeTitleTwo\": \"30K high-quality scraped email leads (included)\",\n  \"shortScopeTitleThree\": \"Four weekly one-hour sales training sessions over Zoom\",\n  \"shortScopeDescriptionOne\": \"12 domains, 36 mailboxes, DNS optimization, and warmups included.\",\n  \"shortScopeDescriptionTwo\": \"30,000 leads in your target market, delivered by CSV.\",\n  \"shortScopeDescriptionThree\": \"We’ll take your sales team from 0->1.\",\n  \"milestoneOneDay\": \"February 8th, 2025\",\n  \"milestoneTwoDay\": \"February 28th, 2025\",\n  \"milestoneThreeDay\": \"March 10th, 2025\",\n  \"milestoneFourDay\":\"March 17th-April 1st, 2025\",\n  \"milestoneDescriptionOne\": \"Cold email system done & ready for warmup.\",\n  \"milestoneDescriptionTwo\": \"Cold email system fully warmed up & operational.\",\n  \"milestoneDescriptionThree\": \"10,000 outbound emails sent; analysis & training #1.\"\n  \"milestoneDescriptionFour\":\"One sales training per week alongside iteration & handoff.\"\n}","role":"assistant"},{"content":"={\n  \"companyName\":\"{{ $json['Company Name'] }}\",\n  \"problem\": \"{{ $json.Problem }}\",\n  \"solution\": \"{{ $json.Solution}}\",\n  \"scope\": \"{{ $json.Scope }}\",\n  \"currentDate\":\"{{ $now.toLocaleString({ dateStyle: 'medium' }) }}\",\n  \"howSoon\": \"{{ $json['How soon?'] }}\",\n  \"depositCost\": \"{{ $json.Cost }}\",\n}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[860,-300],"id":"263cb7f9-4d78-4a83-b528-82850547cfc1","name":"Proposal Agent","credentials":{"openAiApi":{"id":"HL2cfR9AHtEHxa22","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[900,60],"id":"4f8dd9c4-34ce-4dc5-8e71-5471adb0a2c3","name":"Code Tool"},{"parameters":{"promptType":"define","text":"dd","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[360,-300],"id":"446218ba-bb8e-4803-9fd1-777063a44479","name":"Research Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[260,-40],"id":"cd3255f7-e1e5-4de5-9830-d54032cb7a08","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"HL2cfR9AHtEHxa22","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[460,-80],"id":"e9c5fb87-da4d-4751-9ca8-6a8386cfd0ba","name":"Window Buffer Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[640,140],"id":"500c6067-7502-456e-a111-e5a912b3516f","name":"Code Tool1"}],"connections":{"Google Drive":{"main":[[{"node":"Replace Text","type":"main","index":0}]]},"Replace Text":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"Research Agent","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Proposal Agent":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Code Tool":{"ai_tool":[[{"node":"Proposal Agent","type":"ai_tool","index":0}]]},"Research Agent":{"main":[[{"node":"Proposal Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Research Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Research Agent","type":"ai_memory","index":0}]]},"Code Tool1":{"ai_tool":[[{"node":"Research Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"On form submission1":[{"json":{"First Name":"Peter","Last Name":"Saraev","Company Name":"LeftCLick","Email":"nickolassaraev@gmail.com","Website":"https://leftclick.ai","Problem":"they're struggling making YouTube vids. Everything is really time intensive rn, mostly because they don't have scripts.","Solution":"AI script writing system, scrapes competitor youtube vids for ideas and rephrases best performing titles, then writes outlines","Scope":"form you can fill out with competitors, that adds them to a db. once per day db is scraped and you get however many people are in the Sheet x however many vids they put out","Cost":"$3,525","How soon?":"two weeks","submittedAt":"2025-02-04T16:18:45.810-07:00","formMode":"test"}}]},"versionId":"cccbc28b-edf0-48fb-8cd1-9ec5da57fb2a","triggerCount":0,"tags":[]},{"createdAt":"2025-02-17T14:08:21.195Z","updatedAt":"2025-02-17T15:30:20.000Z","id":"TC0FybtmNSgkhTDG","name":"DEMO (Scanner-Jira) PDF Upload","active":false,"nodes":[{"parameters":{"formTitle":"PDF Report Upload","formDescription":"Scanner Report hochladen","formFields":{"values":[{"fieldLabel":"Report","fieldType":"file","multipleFiles":false,"acceptFileTypes":".pdf"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"a8d51e7c-4d5b-4564-b69c-6a9225e105ea","name":"On form submission","webhookId":"ef7e0b21-1a16-45c2-81be-d05a9be51e24"},{"parameters":{"method":"POST","url":"http://knowledgelink-ai_docling:8000/convert","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"={{ $json.Report.filename }}","inputDataFieldName":"Report"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"a6849090-7fd5-4a45-aa39-6af82677d67c","name":"HTTP Request"}],"connections":{"On form submission":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1c362586-0c61-425c-8b99-76dfb114f71f","triggerCount":0,"tags":[]},{"createdAt":"2025-01-27T11:41:58.205Z","updatedAt":"2025-02-17T13:53:31.000Z","id":"UeervXG7XhQdgwgJ","name":"DEMO Create Vulnerability Report","active":true,"nodes":[{"parameters":{"html":"<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            margin: 40px;\n            color: #333;\n        }\n        .header {\n            background: linear-gradient(135deg, #1a4f8c 0%, #2c3e50 100%);\n            color: white;\n            padding: 20px;\n            margin-bottom: 30px;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n        }\n        .risk-indicator {\n            display: inline-block;\n            padding: 10px 20px;\n            border-radius: 4px;\n            margin: 10px 0;\n            font-weight: bold;\n        }\n        .risk-critical {\n            background-color: #ff4444;\n            color: white;\n        }\n        .risk-moderate {\n            background-color: #ffa500;\n            color: white;\n        }\n        .risk-low {\n            background-color: #00c851;\n            color: white;\n        }\n        .severity-HIGH {\n            color: #ff4444;\n            font-weight: bold;\n        }\n        .severity-MEDIUM {\n            color: #ffa500;\n            font-weight: bold;\n        }\n        .severity-LOW {\n            color: #00c851;\n            font-weight: bold;\n        }\n        .section {\n            margin-bottom: 30px;\n            padding: 20px;\n            background-color: #ffffff;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n        }\n        .findings-table {\n            width: 100%;\n            border-collapse: collapse;\n            margin: 20px 0;\n        }\n        .findings-table th, .findings-table td {\n            border: 1px solid #ddd;\n            padding: 12px;\n            text-align: left;\n        }\n        .findings-table th {\n            background-color: #f8f9fa;\n            font-weight: bold;\n        }\n        .findings-table tr:nth-child(even) {\n            background-color: #f8f9fa;\n        }\n        .stats-container {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: 20px;\n            margin: 20px 0;\n        }\n        .stat-box {\n            background-color: #f8f9fa;\n            padding: 15px;\n            border-radius: 4px;\n            text-align: center;\n        }\n        .stat-number {\n            font-size: 24px;\n            font-weight: bold;\n            color: #1a4f8c;\n        }\n        .recommendations {\n            list-style-type: none;\n            padding: 0;\n        }\n        .recommendations li {\n            margin: 10px 0;\n            padding: 10px;\n            background-color: #f8f9fa;\n            border-left: 4px solid #1a4f8c;\n            border-radius: 0 4px 4px 0;\n        }\n        .footer {\n            margin-top: 40px;\n            padding-top: 20px;\n            border-top: 1px solid #ddd;\n            font-size: 0.9em;\n            color: #666;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>Security Vulnerability Report</h1>\n        <p>Report ID: {{$json.reportId}}</p>\n        <p>Scan Date: {{$json.scanDate}}</p>\n        <div class=\"risk-indicator risk-= {{$json.severityClass}}\">\n            Overall Risk Level: = {{$json.riskLevel}}\n        </div>\n    </div>\n\n    <div class=\"section\">\n        <h2>Executive Summary</h2>\n        <div class=\"stats-container\">\n            <div class=\"stat-box\">\n                <div class=\"stat-number\">{{$json.criticalFindings}}</div>\n                <div>Critical Findings</div>\n            </div>\n            <div class=\"stat-box\">\n                <div class=\"stat-number\">{{$json.totalFindings}}</div>\n                <div>Total Findings</div>\n            </div>\n            <div class=\"stat-box\">\n                <div class=\"stat-number\">{{$json.vulnerabilityScore}}</div>\n                <div>Vulnerability Score</div>\n            </div>\n        </div>\n    </div>\n\n    <div class=\"section\">\n        <h2>System Information</h2>\n        <table class=\"findings-table\">\n            <tr>\n                <th>Hostname</th>\n                <td>{{$json.hostname}}</td>\n            </tr>\n            <tr>\n                <th>Operating System</th>\n                <td>{{$json.systemInfo.os}}</td>\n            </tr>\n            <tr>\n                <th>Department</th>\n                <td>{{$json.systemInfo.department}}</td>\n            </tr>\n            <tr>\n                <th>Environment</th>\n                <td>{{$json.systemInfo.environment}}</td>\n            </tr>\n            <tr>\n                <th>Last Patch Date</th>\n                <td>{{$json.systemInfo.lastPatchDate}}</td>\n            </tr>\n            <tr>\n                <th>Responsible Party</th>\n                <td>{{$json.systemInfo.responsible}}</td>\n            </tr>\n        </table>\n    </div>\n\n    <div class=\"section\">\n        <h2>Detailed Findings</h2>\n        <table class=\"findings-table\">\n            <thead>\n                <tr>\n                    <th>Type</th>\n                    <th>Severity</th>\n                    <th>Affected Component</th>\n                    <th>Description</th>\n                </tr>\n            </thead>\n            <tbody>\n                {{$json.findingsTableRows}}\n            </tbody>\n        </table>\n    </div>\n\n    <div class=\"section\">\n        <h2>System Exposure</h2>\n        <table class=\"findings-table\">\n            <tr>\n                <th>Open Ports</th>\n                <td>{{$json.exposedServices}}</td>\n            </tr>\n            <tr>\n                <th>Patch Status</th>\n                <td>{{$json.additionalDetails.patchStatus}}</td>\n            </tr>\n            <tr>\n                <th>Last Security Incident</th>\n                <td>{{$json.additionalDetails.lastIncident}}</td>\n            </tr>\n        </table>\n    </div>\n\n    <div class=\"section\">\n        <h2>Recommendations</h2>\n        <ul class=\"recommendations\">\n            {{$json.recommendationsList}}\n        </ul>\n    </div>\n\n    <div class=\"footer\">\n        <p>This report is confidential and intended only for authorized personnel.</p>\n        <p>Generated on = {{$json.scanDate}}</p>\n        <p>Report ID: = {{$json.reportId}}</p>\n    </div>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1220,320],"id":"4d266344-d2d2-4eeb-bf22-36d4ae2c4480","name":"HTML"},{"parameters":{"channels":"scanner/incoming","options":{}},"type":"n8n-nodes-base.redisTrigger","typeVersion":1,"position":[-1260,300],"id":"6726b7eb-6dbc-4947-b55d-e6b973594ec4","name":"Redis Trigger","credentials":{"redis":{"id":"o6fxxCjODPXEnat3","name":"Redis account"}}},{"parameters":{"jsCode":"// Function Node - Process Redis Message and Prepare Report Data\nconst inputItem = JSON.parse($input.first().json.message);\nconst scanResult = inputItem.scanResult;\n\n// Helper function to determine severity class\nfunction getSeverityClass(score) {\n  if (score >= 7) return 'high';\n  if (score >= 4) return 'medium';\n  return 'low';\n}\n\nreturn {\n  json: {\n    ...scanResult,\n    scanDate: new Date(scanResult.scanDate).toLocaleString(),\n    reportId: 'VUL-' + Date.now(),\n    severityClass: getSeverityClass(scanResult.vulnerabilityScore),\n    recommendations: [\n      `Update ${scanResult.findings.map(f => f.affectedComponent).join(', ')} to latest secure versions`,\n      'Review and harden system configurations',\n      `Address ${scanResult.findings.length} identified vulnerabilities within 7 days`,\n      'Schedule follow-up scan after remediation'\n    ],\n    // Additional computed fields for the report\n    criticalFindings: scanResult.findings.filter(f => f.severity === 'HIGH').length,\n    totalFindings: scanResult.findings.length,\n    riskLevel: scanResult.vulnerabilityScore >= 7 ? 'Critical' : \n               scanResult.vulnerabilityScore >= 4 ? 'Moderate' : 'Low',\n    exposedServices: scanResult.additionalDetails.openPorts.join(', ')\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1080,300],"id":"21e9a60a-d106-45d1-ae0e-c0290d429a81","name":"Daten aufbereiten"},{"parameters":{"jsCode":"// Function to prepare findings HTML rows\nfunction generateFindingsRows(findings) {\n  return findings.map(finding => `\n    <tr>\n      <td>${finding.type}</td>\n      <td class=\"severity-${finding.severity}\">${finding.severity}</td>\n      <td>${finding.affectedComponent}</td>\n      <td>${finding.description}</td>\n    </tr>\n  `).join('');\n}\n\n// Function to prepare recommendations HTML list\nfunction generateRecommendationsList(recommendations) {\n  return recommendations.map(rec => `\n    <li>${rec}</li>\n  `).join('');\n}\n\n// Prepare the data\nconst inputData = $('Daten aufbereiten').first().json;\n\nreturn {\n  json: {\n    ...inputData,\n    findingsTableRows: generateFindingsRows(inputData.findings),\n    recommendationsList: generateRecommendationsList(inputData.recommendations)\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[980,320],"id":"b85df851-58ac-4d68-a259-709f4d0a62af","name":"Tabellen Formatieren"},{"parameters":{"operation":"toText","sourceProperty":"html","options":{"encoding":"utf8","fileName":"=index.html"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1440,320],"id":"7fc23af5-6766-4b82-b2e7-358366e14ebc","name":"Convert to File"},{"parameters":{"method":"POST","url":"http://gotenberg:3000/forms/chromium/convert/html","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"data"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,320],"id":"7a47324c-4d1e-4352-9e7f-3bdc7760150c","name":"Create PDF"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Assuming your binary structure is like {data: {data: pdfContent, ...}}\nconst newFileName = \"report_\" + $now.toFormat('yyyyMMdd_HHmmss') + \".pdf\";\n$input.item.binary.data.fileName = newFileName;\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,320],"id":"27fc37b3-f59e-4f32-a2e6-d33e240a6aeb","name":"Code"},{"parameters":{"jiraVersion":"server","project":{"__rl":true,"value":"10003","mode":"list","cachedResultName":"Projekt"},"issueType":{"__rl":true,"value":"10006","mode":"list","cachedResultName":"Bug"},"summary":"=Vulnerabity Report {{ $json.reportId }}","additionalFields":{"description":"=h2. Summary\n* Vulnerability Score: *{{$json.vulnerabilityScore}}/10*\n* Risk Level: {color:red}*{{$json.riskLevel}}*{color}\n* Critical Findings: {{$json.criticalFindings}} out of {{$json.totalFindings}} total findings\n\nh2. Key System Details\n* Environment: {{$json.systemInfo.environment}}\n* Department: {{$json.systemInfo.department}}\n* Last Patch Date: {{$json.systemInfo.lastPatchDate}}\n* Open Services: {{$json.exposedServices}}","priority":{"__rl":true,"value":"2","mode":"list","cachedResultName":"High"}}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[760,320],"id":"00172d5f-f224-4733-8969-273225e092c4","name":"Create Bug","credentials":{"jiraSoftwareServerApi":{"id":"GINtWKaUiuM9QWe9","name":"Jira SW Server account"}}},{"parameters":{"jiraVersion":"server","resource":"issueAttachment","issueKey":"={{ $('Create Bug').item.json.key }}","binaryPropertyName":"=data"},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[2140,320],"id":"9ecd31a3-df16-406c-8f47-931cd3c7c54b","name":"Add attachment","credentials":{"jiraSoftwareServerApi":{"id":"GINtWKaUiuM9QWe9","name":"Jira SW Server account"}}},{"parameters":{"content":"## CMDB Check","height":520,"width":1120},"type":"n8n-nodes-base.stickyNote","position":[-940,220],"typeVersion":1,"id":"65f0760b-e9ca-43e3-a549-971b1f69aaf8","name":"Sticky Note"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[320,320],"id":"6b3892b8-55ce-44f1-96a7-dc6a0c56d96f","name":"Merge"},{"parameters":{"jiraVersion":"server","operation":"getAll","options":{"jql":"=project = CMDB AND \"IP-Adresse\" ~  \"{{ $json.ipAddress }}\""}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-840,420],"id":"227b91fa-8e0a-4bbd-a18a-649ad11fd353","name":"Suche CI","alwaysOutputData":true,"credentials":{"jiraSoftwareServerApi":{"id":"GINtWKaUiuM9QWe9","name":"Jira SW Server account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0d157779-b203-4652-a92e-db5e92fe5bf7","leftValue":"={{ $json.key }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-580,420],"id":"b36122a9-5798-4fac-adb6-d5bb16136fb4","name":"CI existiert"},{"parameters":{"assignments":{"assignments":[{"id":"98d9404d-8f1b-45aa-86cb-c97043876c7c","name":"ci_key","value":"={{ $json.key }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-360,400],"id":"3929a6e2-74be-4ffa-ad00-de059238d1b7","name":"Speichere existierendes CI"},{"parameters":{"jiraVersion":"server","project":{"__rl":true,"value":"10002","mode":"list","cachedResultName":"CMDB"},"issueType":{"__rl":true,"value":"10007","mode":"list","cachedResultName":"Configuration Item"},"summary":"=Server_{{ $('Daten aufbereiten').item.json.ipAddress.replaceAll(\".\",\"-\") }}","additionalFields":{"customFieldsUi":{"customFieldsValues":[{"fieldId":{"__rl":true,"value":"customfield_10114","mode":"id"},"fieldValue":"={{ $('Daten aufbereiten').item.json.ipAddress }}"},{"fieldId":{"__rl":true,"value":"customfield_10115","mode":"id"},"fieldValue":"Server"}]}}},"type":"n8n-nodes-base.jira","typeVersion":1,"position":[-360,560],"id":"dafd1a4e-52a4-4caf-9909-40ee4187921a","name":"CI Anlegen","credentials":{"jiraSoftwareServerApi":{"id":"GINtWKaUiuM9QWe9","name":"Jira SW Server account"}}},{"parameters":{"assignments":{"assignments":[{"id":"298eeacf-89cb-4460-9136-ca9152176bcb","name":"ci_key","value":"={{ $json.key }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,560],"id":"7fb3b1a2-3d96-4d64-ab3e-190fa90df741","name":"Edit Fields"},{"parameters":{"jsCode":"// Retrieve input data\nconst items = $input.all();\n\n// Extract the main data from the first item\nconst mainItem = items[0].json;\n\n// Extract the ci_key from the second or third entry\nconst ciKeyItem = items[1]?.json.ci_key || items[2]?.json.ci_key;\n\n// Add the selected ci_key to the main item\nconst mergedItem = {\n  ...mainItem,\n  ci_key: ciKeyItem || null, // Ensure ci_key is set even if both are empty\n};\n\n// Return the merged item as a single output\nreturn [{ json: mergedItem }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[540,320],"id":"30647a13-2bc8-4e44-812f-b70b07cf2fd7","name":"Merge info"},{"parameters":{"method":"POST","url":"https://jira.integrate-now.com/rest/api/latest/issueLink","authentication":"predefinedCredentialType","nodeCredentialType":"jiraSoftwareServerApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"type\": {\n    \"name\": \"Relates\"\n  },\n  \"inwardIssue\": {\n    \"key\": \"{{ $('Create Bug').item.json.key }}\"\n  },\n  \"outwardIssue\": {\n    \"key\": \"{{ $('Merge info').item.json.ci_key }}\"\n  }\n}\n ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2360,320],"id":"77a10525-e7ce-42cd-888a-74d7d1126032","name":"Verknüpfung herstellen","credentials":{"jiraSoftwareServerApi":{"id":"GINtWKaUiuM9QWe9","name":"Jira SW Server account"}}}],"connections":{"Redis Trigger":{"main":[[{"node":"Daten aufbereiten","type":"main","index":0}]]},"Daten aufbereiten":{"main":[[{"node":"Suche CI","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Tabellen Formatieren":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Create PDF","type":"main","index":0}]]},"Create PDF":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Add attachment","type":"main","index":0}]]},"Create Bug":{"main":[[{"node":"Tabellen Formatieren","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge info","type":"main","index":0}]]},"Suche CI":{"main":[[{"node":"CI existiert","type":"main","index":0}]]},"CI existiert":{"main":[[{"node":"Speichere existierendes CI","type":"main","index":0}],[{"node":"CI Anlegen","type":"main","index":0}]]},"Speichere existierendes CI":{"main":[[{"node":"Merge","type":"main","index":1}]]},"CI Anlegen":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge info":{"main":[[{"node":"Create Bug","type":"main","index":0}]]},"Add attachment":{"main":[[{"node":"Verknüpfung herstellen","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"11b695c7-b54a-49ce-b2f1-b05eaaddb098","triggerCount":1,"tags":[]},{"createdAt":"2025-01-28T19:00:23.164Z","updatedAt":"2025-01-28T20:00:27.000Z","id":"dIuuW6K3IRGt919s","name":"Maintenance Backup Main Loop","active":false,"nodes":[{"parameters":{},"id":"9e34d48d-5a5f-42ef-abf0-7e9a69a594a3","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[480,80],"typeVersion":1},{"parameters":{"options":{}},"id":"54e0fddb-edf2-4289-8e0b-3b45aac41ced","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1300,180],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":33}]}},"id":"8a5c09c7-0d9a-42c5-960a-48a440e09121","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[480,280],"typeVersion":1.2},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"39e1d19b-32b6-43bd-bb18-6554ec375932","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":7},"id":"3d1b4d8e-bc4c-46d7-a130-0f3aee889337","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[440,0],"typeVersion":1},{"parameters":{"select":"user","user":{"__rl":true,"value":"U3CQ5SXLL","mode":"list","cachedResultName":"hannes"},"text":"=:information_source:  Starting Workflow Backup [{{ $execution.id }}]","otherOptions":{"includeLinkToWorkflow":false}},"id":"2088b01e-27e1-4286-a7c3-0259b55252be","name":"Starting Message","type":"n8n-nodes-base.slack","position":[720,180],"webhookId":"c02eb407-5547-4aa0-9ebf-46dab67b63b6","typeVersion":2.2,"credentials":{"slackApi":{"id":"rQIgLTZMFSsCvkIK","name":"Slack account"}}},{"parameters":{"select":"user","user":{"__rl":true,"value":"U3CQ5SXLL","mode":"list","cachedResultName":"hannes"},"text":"=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","otherOptions":{}},"id":"a75410e5-ef3f-47d6-bb0a-bf0e43f6e46a","name":"Completed Notification","type":"n8n-nodes-base.slack","position":[1520,20],"webhookId":"a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4","executeOnce":true,"typeVersion":2.2,"credentials":{"slackApi":{"id":"rQIgLTZMFSsCvkIK","name":"Slack account"}}},{"parameters":{"select":"user","user":{"__rl":true,"value":"U3CQ5SXLL","mode":"list","cachedResultName":"hannes"},"text":"=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"16fb9332-a4ce-4f4f-8e54-43a15428f066","name":"Failed Flows","type":"n8n-nodes-base.slack","position":[840,620],"webhookId":"2a092edb-de12-490f-931b-34d70e7d7696","typeVersion":2.2,"credentials":{"slackApi":{"id":"rQIgLTZMFSsCvkIK","name":"Slack account"}}},{"parameters":{"url":"https://n8n.integrate-now.com/api/v1/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,180],"id":"686344ee-6a10-4219-89b9-ec37b2e8f27b","name":"HTTP Request","credentials":{"n8nApi":{"id":"vhdO3TXsaomGctMk","name":"n8n account"}}},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"wPd5sTsbetdvNT5U","cachedResultName":"Maintenance Backup to Github"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1540,200],"id":"491bfdb9-2811-47ee-9c5d-83b4231ed169","name":"Execute Workflow1"}],"connections":{"Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed Notification","type":"main","index":0}],[{"node":"Execute Workflow1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"09f98606-00ae-47fe-aaf4-cbbf276a2e31","triggerCount":0,"tags":[]},{"createdAt":"2025-02-06T13:19:42.582Z","updatedAt":"2025-02-06T13:43:08.000Z","id":"jsx60frpzwULMM22","name":"Test Secrets Manager Infiscal","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-540,-20],"id":"1cb344b0-d871-48bf-ab2c-e1837d1e0f82","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"https://infisical.integrate-now.com/api/v1/auth/universal-auth/login","sendBody":true,"bodyParameters":{"parameters":[{"name":"clientId","value":"d763d566-93e6-46a9-bc9d-63de854d01ca"},{"name":"clientSecret","value":"2e31173c9856ccc982e5d6241b9aff4185ae4db83f992ac652d79b15b4d24ece"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-320,-20],"id":"28e11e5b-f931-439b-ac64-2863497a4bf1","name":"Login"},{"parameters":{"method":"POST","url":"https://infisical.integrate-now.com/api/v3/secrets/raw/second","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"secretPath\":\"/\",\n  \"type\":\"shared\",\n  \"environment\":\"dev\",\n  \"workspaceId\":\"cc9009c3-f91e-4d68-9b26-6707c4dda1cd\",\n  \"secretValue\":\"value\",\n  \"secretComment\":\"\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-100,-20],"id":"7b2f7ea9-0381-4b73-b867-5b07880b8393","name":"HTTP Request"},{"parameters":{"url":"https://infisical.integrate-now.com/api/v3/secrets/raw/second?&environment=dev?workspaceId=cc9009c3-f91e-4d68-9b26-6707c4dda1cd","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.accessToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,-280],"id":"967bb37f-efcb-4af6-8c20-a8e8b0428cd8","name":"HTTP Request1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Login","type":"main","index":0}]]},"Login":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d8a809f6-1efe-464a-8f05-95cacb8cf2be","triggerCount":0,"tags":[]},{"createdAt":"2025-01-27T11:45:20.739Z","updatedAt":"2025-02-17T13:55:29.000Z","id":"lceiFVcD4qvKAUgW","name":"DEMO (Scanner-Jira) Scanner Generic Webhook","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"vulnerability-scan","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-260,-40],"id":"b3079899-2f1d-4b33-879b-96e1c425fd39","name":"Webhook","webhookId":"52ea1c7e-b20b-45a2-a538-859d16f865ea","credentials":{"httpHeaderAuth":{"id":"Del53ELCoeSE3k5j","name":"Scanner Auth"}}},{"parameters":{"operation":"publish","channel":"scanner/incoming","messageData":"={{ $json.body.toJsonString() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-60,-40],"id":"a75ca653-a421-4f8d-bd07-44c7da912a91","name":"Redis","credentials":{"redis":{"id":"o6fxxCjODPXEnat3","name":"Redis account"}}}],"connections":{"Webhook":{"main":[[{"node":"Redis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"63abd897-ca98-49bb-86cb-037d8182b321","triggerCount":1,"tags":[]},{"createdAt":"2025-01-27T10:23:27.463Z","updatedAt":"2025-03-05T16:23:47.000Z","id":"maPvknj5v3wXe6xA","name":"DEMO (Jira-Servity) Incoming Generic Webhook","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"fed528ce-4f45-4250-bb45-8c25b8ef9ae0","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-660,60],"id":"f8f9a4db-0fcc-4041-8336-da04dc758652","name":"Webhook","webhookId":"fed528ce-4f45-4250-bb45-8c25b8ef9ae0","notes":"route: /jira/servity"},{"parameters":{"operation":"publish","channel":"jira/incoming","messageData":"={{ $json.body.toJsonString() }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-80,0],"id":"6f38e37b-e6c0-40c1-8f9e-4cd5c6938d68","name":"Redis","credentials":{"redis":{"id":"o6fxxCjODPXEnat3","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15cee097-2596-4316-8eba-8c000287276b","leftValue":"={{ $json.body.issue.fields.project.key }}","rightValue":"PROJ","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-380,60],"id":"2ad2cba3-95d0-4d86-bbea-e9c18582d67c","name":"Nur \"PROJ\" Incidents"}],"connections":{"Webhook":{"main":[[{"node":"Nur \"PROJ\" Incidents","type":"main","index":0}]]},"Nur \"PROJ\" Incidents":{"main":[[{"node":"Redis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.integrate-now.com","user-agent":"Atlassian HttpClient 4.2.0 / JIRA-10.4.0 (10040001) / Default","content-length":"7260","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"152.53.133.101","cf-ipcountry":"AT","cf-ray":"90880c235ac318c7-FRA","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json; charset=UTF-8","via":"1.1 localhost (Apache-HttpClient/4.5.14 (cache))","x-event-key":"jira:issue_created","x-forwarded-for":"162.158.110.41","x-forwarded-host":"n8n.integrate-now.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"c5eac1b16a6a","x-real-ip":"162.158.110.41","x-request-id":"c84f8129-5e32-4436-942d-ee266cfc6544"},"params":{},"query":{},"body":{"timestamp":1737973616902,"webhookEvent":"jira:issue_created","issue_event_type_name":"issue_created","user":{"self":"https://jira.integrate-now.com/rest/api/2/user?key=JIRAUSER10100","name":"Bot","key":"JIRAUSER10100","emailAddress":"n8n@integrate-now.com","displayName":"Unser Bot"},"issue":{"id":"10003","self":"https://jira.integrate-now.com/rest/api/2/issue/10003","key":"TEST-4","fields":{"issuetype":{"self":"https://jira.integrate-now.com/rest/api/2/issuetype/10006","id":"10006","description":"A problem which impairs or prevents the functions of the product.","iconUrl":"https://jira.integrate-now.com/secure/viewavatar?size=xsmall&avatarId=10303&avatarType=issuetype","name":"Bug","subtask":false,"avatarId":10303},"timespent":null,"project":{"self":"https://jira.integrate-now.com/rest/api/2/project/10000","id":"10000","key":"TEST","name":"test","projectTypeKey":"software","avatarUrls":{"48x48":"https://jira.integrate-now.com/secure/projectavatar?avatarId=10324","24x24":"https://jira.integrate-now.com/secure/projectavatar?size=small&avatarId=10324","16x16":"https://jira.integrate-now.com/secure/projectavatar?size=xsmall&avatarId=10324","32x32":"https://jira.integrate-now.com/secure/projectavatar?size=medium&avatarId=10324"},"projectCategory":null},"fixVersions":[],"customfield_10110":null,"aggregatetimespent":null,"resolution":null,"customfield_10104":null,"customfield_10108":"0|i0000n:","customfield_10109":null,"resolutiondate":null,"workratio":-1,"lastViewed":"2025-01-27T10:26:56.969+0000","watches":{"self":"https://jira.integrate-now.com/rest/api/2/issue/TEST-4/watchers","watchCount":0,"watchers":null,"isWatching":false},"created":"2025-01-27T10:26:56.851+0000","priority":{"self":"https://jira.integrate-now.com/rest/api/2/priority/3","statusColor":null,"description":null,"iconUrl":"https://jira.integrate-now.com/images/icons/priorities/medium.svg","name":"Medium","id":"3"},"customfield_10100":null,"customfield_10101":null,"customfield_10102":null,"labels":[],"customfield_10103":null,"timeestimate":null,"aggregatetimeoriginalestimate":null,"versions":[],"issuelinks":[],"assignee":null,"updated":"2025-01-27T10:26:56.851+0000","status":{"self":"https://jira.integrate-now.com/rest/api/2/status/10000","statusColor":null,"description":"","iconUrl":"https://jira.integrate-now.com/","name":"To Do","id":"10000","statusCategory":{"self":"https://jira.integrate-now.com/rest/api/2/statuscategory/2","id":2,"key":"new","colorName":"default","name":"To Do"}},"components":[],"timeoriginalestimate":null,"description":null,"timetracking":{"originalEstimate":null,"remainingEstimate":null,"timeSpent":null,"originalEstimateSeconds":null,"remainingEstimateSeconds":null,"timeSpentSeconds":null},"archiveddate":null,"attachment":[],"aggregatetimeestimate":null,"summary":"dddd","creator":{"self":"https://jira.integrate-now.com/rest/api/2/user?username=Bot","name":"Bot","key":"JIRAUSER10100","emailAddress":"n8n@integrate-now.com","avatarUrls":{"48x48":"https://www.gravatar.com/avatar/e57471a144caf6564207eae0e1bebe48?d=mm&s=48","24x24":"https://www.gravatar.com/avatar/e57471a144caf6564207eae0e1bebe48?d=mm&s=24","16x16":"https://www.gravatar.com/avatar/e57471a144caf6564207eae0e1bebe48?d=mm&s=16","32x32":"https://www.gravatar.com/avatar/e57471a144caf6564207eae0e1bebe48?d=mm&s=32"},"displayName":"Unser Bot","active":true,"timeZone":"Etc/UTC"},"subtasks":[],"reporter":{"self":"https://jira.integrate-now.com/rest/api/2/user?username=Bot","name":"Bot","key":"JIRAUSER10100","emailAddress":"n8n@integrate-now.com","avatarUrls":{"48x48":"https://www.gravatar.com/avatar/e57471a144caf6564207eae0e1bebe48?d=mm&s=48","24x24":"https://www.gravatar.com/avatar/e57471a144caf6564207eae0e1bebe48?d=mm&s=24","16x16":"https://www.gravatar.com/avatar/e57471a144caf6564207eae0e1bebe48?d=mm&s=16","32x32":"https://www.gravatar.com/avatar/e57471a144caf6564207eae0e1bebe48?d=mm&s=32"},"displayName":"Unser Bot","active":true,"timeZone":"Etc/UTC"},"customfield_10000":"{summaryBean=com.atlassian.jira.plugin.devstatus.rest.SummaryBean@6f2bb203[summary={pullrequest=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@7d685cc6[byInstanceType={},overall=PullRequestOverallBean{stateCount=0, state='OPEN', details=PullRequestOverallDetails{openCount=0, mergedCount=0, declinedCount=0}}], build=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@f6e1b9c[byInstanceType={},overall=com.atlassian.jira.plugin.devstatus.summary.beans.BuildOverallBean@305ff8db[failedBuildCount=0,successfulBuildCount=0,unknownBuildCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>]], review=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@1599b61e[byInstanceType={},overall=com.atlassian.jira.plugin.devstatus.summary.beans.ReviewsOverallBean@1097fae1[dueDate=<null>,overDue=false,state=<null>,stateCount=0,count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>]], deployment-environment=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@6f5ab194[byInstanceType={},overall=com.atlassian.jira.plugin.devstatus.summary.beans.DeploymentOverallBean@208c0584[showProjects=false,successfulCount=0,topEnvironments=[],count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>]], repository=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@78fd6ecd[byInstanceType={},overall=com.atlassian.jira.plugin.devstatus.summary.beans.CommitOverallBean@5712d3c1[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>]], branch=com.atlassian.jira.plugin.devstatus.rest.SummaryItemBean@6d7e0ea6[byInstanceType={},overall=com.atlassian.jira.plugin.devstatus.summary.beans.BranchOverallBean@2d9e86a8[count=0,lastUpdated=<null>,lastUpdatedTimestamp=<null>]]},configErrors=[],errors=[]], devSummaryJson={\"cachedValue\":{\"errors\":[],\"configErrors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":\"OPEN\",\"details\":{\"openCount\":0,\"mergedCount\":0,\"declinedCount\":0,\"total\":0},\"open\":true},\"byInstanceType\":{}},\"build\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"failedBuildCount\":0,\"successfulBuildCount\":0,\"unknownBuildCount\":0},\"byInstanceType\":{}},\"review\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"stateCount\":0,\"state\":null,\"dueDate\":null,\"overDue\":false,\"completed\":false},\"byInstanceType\":{}},\"deployment-environment\":{\"overall\":{\"count\":0,\"lastUpdated\":null,\"topEnvironments\":[],\"showProjects\":false,\"successfulCount\":0},\"byInstanceType\":{}},\"repository\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}},\"branch\":{\"overall\":{\"count\":0,\"lastUpdated\":null},\"byInstanceType\":{}}}},\"isStale\":false}}","aggregateprogress":{"progress":0,"total":0,"percent":null},"environment":null,"duedate":null,"progress":{"progress":0,"total":0,"percent":null},"comment":{"comments":[],"maxResults":0,"total":0,"startAt":0},"votes":{"self":"https://jira.integrate-now.com/rest/api/2/issue/TEST-4/votes","votes":0,"hasVoted":false,"voters":null},"worklog":{"startAt":0,"maxResults":20,"total":0,"worklogs":[]},"archivedby":null},"properties":null,"transitions":null,"renderedFields":null,"names":null,"schema":null,"operations":null,"editmeta":null,"changelog":null,"versionedRepresentations":null}},"webhookUrl":"https://n8n.integrate-now.com/webhook-test/fed528ce-4f45-4250-bb45-8c25b8ef9ae0","executionMode":"test"}}]},"versionId":"8f38f130-8786-418a-85a6-9ca218c35428","triggerCount":1,"tags":[]},{"createdAt":"2025-01-28T19:45:36.721Z","updatedAt":"2025-01-28T19:59:45.000Z","id":"wPd5sTsbetdvNT5U","name":"Maintenance Backup to Github","active":false,"nodes":[{"parameters":{"content":"## Subworkflow","height":731.7039821513649,"width":1910.7813046051347,"color":6},"id":"6bf0b0eb-7585-405e-b71d-2aef41e598f6","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,460],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"2aac7183-123f-4f93-9515-e961fe75c791","name":"Return","type":"n8n-nodes-base.set","position":[1720,660],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"c5b3a426-abb9-421d-99ac-e7ad7e3d54e0","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[680,540],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"c676925e-2a22-41ab-b71f-8f65d2d85a85","name":"If file too large","type":"n8n-nodes-base.if","position":[440,560],"typeVersion":2},{"parameters":{},"id":"ba62d362-36c8-48a6-8a34-5781b1d522ce","name":"Merge Items","type":"n8n-nodes-base.merge","position":[440,820],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"b422a8d4-a63c-4b01-9434-7e8921f393e7","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[640,820],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"8a2a3a61-5904-4508-a3d6-bb45b701af4b","name":"Check Status","type":"n8n-nodes-base.switch","position":[1040,820],"typeVersion":1},{"parameters":{},"id":"8594b4e1-1c38-4066-b987-9c9aebe2b1f2","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1260,660],"typeVersion":1},{"parameters":{},"id":"57c38d6d-23d9-479a-a1d2-ed8466af3427","name":"File is different","type":"n8n-nodes-base.noOp","position":[1260,820],"typeVersion":1},{"parameters":{},"id":"858bf8ba-20ac-4673-a5c4-ba87d261fd22","name":"File is new","type":"n8n-nodes-base.noOp","position":[1260,1020],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":""},"repository":{"__rl":true,"value":"={{ $('Config').item.json.repo_name }}","mode":""},"filePath":"={{ $('Config').item.json.repo_path }}{{ $json.subPath }}{{$('Workflow Input Trigger').item.json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Workflow Input Trigger').item.json.name}} ({{$json.github_status}})"},"id":"d2faa371-b813-4af4-92ee-e10d4f8f4728","name":"Create new file","type":"n8n-nodes-base.github","position":[1480,1020],"typeVersion":1,"credentials":{"githubApi":{"id":"FYMajepsrita36vH","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Config').item.json.repo_owner }}","mode":""},"repository":{"__rl":true,"value":"={{ $('Config').item.json.repo_name }}","mode":""},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Workflow Input Trigger').item.json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Workflow Input Trigger').item.json.name}} ({{$json.github_status}})"},"id":"3caa7abd-1c78-45fe-ae29-c62b95bef33b","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1480,820],"typeVersion":1,"credentials":{"githubApi":{"id":"FYMajepsrita36vH","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $('Workflow Input Trigger').item.json.createdAt.split('-')[0] }}/{{ $('Workflow Input Trigger').item.json.createdAt.split('-')[1] }}/"}]},"includeOtherFields":true,"options":{}},"id":"111990ea-f8d7-48f7-ac87-d5d1a1791b68","name":"Create sub path","type":"n8n-nodes-base.set","position":[840,820],"typeVersion":3.3},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"1f276a23-2736-4869-9ae8-0f6e029e4bc5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $json.repo_owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.repo_name }}","mode":"name"},"filePath":"={{ $('Config').item.json.repo_path }}{{ $('Workflow Input Trigger').item.json.createdAt.split('-')[0] }}/{{ $('Workflow Input Trigger').item.json.createdAt.split('-')[1] }}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"98561676-f9e0-4194-bf67-d3ef51ac77f9","name":"Get file data","type":"n8n-nodes-base.github","position":[240,560],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"FYMajepsrita36vH","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"=hannes-sistemica"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"=n8n-flows"},{"id":"eee305e9-4164-462a-86bd-80f0d58a31ae","name":"repo_path","type":"string","value":"=https://github.com/integrate-now/n8n-flows"}]},"includeOtherFields":true,"options":{}},"id":"c716bfd0-3482-41a6-ac12-48cde8fa0305","name":"Config","type":"n8n-nodes-base.set","position":[240,840],"typeVersion":3.4},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[40,840],"id":"80682abf-c3fe-433a-94ac-1ee12e8fb068","name":"Workflow Input Trigger"}],"connections":{"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Workflow Input Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e474604-5097-4a6c-acf8-1466278c9e89","triggerCount":0,"tags":[]}],"nextCursor":null}